/* Reset
-------------------------------------------------------------- */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0;}
table{border-collapse:separate;border-spacing:0;margin-bottom:1.4em;}
caption,th,td{text-align:left;font-weight:400;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:;}
a img{border:none;}


/* Page
-------------------------------------------------------------- */
#header { margin: 40px auto 40px;width:960px; display: block;}
#footer { margin: 40px auto 40px;width:960px; display: block;}
.content{margin: 40px auto 80px;width:960px; border-top: 2px dashed #d4d4d4;}
.clearfix{display:inline-block}
.section {margin-left:auto;margin-right:auto;width:960px;padding-top: 50px;padding-bottom: 50px;border-bottom: 2px dashed #d4d4d4;}
.explanation{float: left;margin-right: 10px;margin-right: 40px;display: inline;width: 520px;}
.example{width: 380px;float: left;margin-left: 10px;margin-right: 10px;display: inline; }


.nav ul {
	margin:0px;
	list-style-type: none;
}

.nav ul li {
	float:left;
}

.nav a {
	display:block;
	margin-right:20px;
	font-size:1.5em;
	color: green;
	text-decoration: none;
}

.nav a:hover {
	color: red; 
}

/* Typography
-------------------------------------------------------------- */
body { font-size: 80%;	line-height: 1.5;	color: #666666;	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
p { margin: 0 0 1.5em; }
strong { font-weight: bold;font-size: 130%;}
em{ font-style: italic; }
pre,code,tt { font: 15px 'andale mono', 'lucida console', monospace;background-color: #f1f1f1;}
pre,code    { margin: 0 0 1.5em 0; white-space: pre; overflow-x:auto;}
pre { padding:20px;}

/* Headings
-------------------------------------------------------------- */
h1,h2,h3 { line-height: 1.5;text-transform: uppercase;font-weight: bold; color: #3c3c3c; }
h1, h2{font-size: 2em;}
h3{font-size: 2em;}

.section h2{ margin-bottom:20px;}

/* Links
-------------------------------------------------------------- */
a { color: green; text-decoration: underline;font-weight: bold;}
a:focus, a:hover {text-decoration: underline;color:red;}

ul { margin:0px 0px 1.5em 1.5em; }

.medium { font-size:2em;}
.example a { font-size: 3em; }
